@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  overflow-x: hidden !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #1b262c;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #3282b8;
  height: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 950;
}

@media only screen and (max-device-width: 700px) {
  .header {
    width: 100%;
  }
}

#brand {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #ffffff;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #498afb;
}

#signup {
  border: 1px solid #ff3860;
}

#signup a {
  color: #ff3860;
}

#login a {
  color: #498afb;
}

/* RESPONSIVE AND MOBILE STYLE */

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  height: calc(60vh - 20px);
  width: 100%;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #000;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

/*FOOTER AREA*/
footer {
  left: 0;
  right: 0;
  background: #3282b8;
  padding-top: 30px;
  color: #fff;
  position: static;
  width: 100vw;
  height: 100%;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.footer-bottom {
  background: #000000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.footer-bottom p {
  float: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.header-img {
  max-width: 100%;
  width: 100%;
  height: 330px;
  background: url("banner.png");
  background-size: contain;
  max-height: 650px;
  padding-left: 1300px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #000000;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;

  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.logoTransparente {
  width: 22%;
  height: 22%;
}

.container {
  height: 400px;
  max-width: 93%;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  margin: 45px;
  box-shadow: 0 0 15px 5px #95d1d3;
}

.content {
  text-align: justify;
  color: black;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}
